<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.att.repository.mapper.ZSnToolLogMapper">
  <resultMap id="BaseResultMap" type="com.att.repository.entity.ZSnToolLog">
    <id column="SID" jdbcType="VARCHAR" property="sid" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="SFC" jdbcType="VARCHAR" property="sfc" />
    <result column="OPERATION" jdbcType="VARCHAR" property="operation" />
    <result column="RESOURCE" jdbcType="VARCHAR" property="resource" />
    <result column="SN" jdbcType="VARCHAR" property="sn" />
    <result column="TOOL_NUMBER" jdbcType="VARCHAR" property="toolNumber" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATED_DATE_TIME" jdbcType="TIMESTAMP" property="createdDateTime" />
    <result column="CREATED_USER" jdbcType="VARCHAR" property="createdUser" />
    <result column="START_DATE_TIME" jdbcType="TIMESTAMP" property="startDateTime" />
    <result column="START_USER" jdbcType="VARCHAR" property="startUser" />
    <result column="COMPLETE_DATE_TIME" jdbcType="TIMESTAMP" property="completeDateTime" />
    <result column="COMPLETE_USER" jdbcType="VARCHAR" property="completeUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SID, SITE, SFC, OPERATION, RESOURCE, SN, TOOL_NUMBER, STATUS, CREATED_DATE_TIME, 
    CREATED_USER, START_DATE_TIME, START_USER, COMPLETE_DATE_TIME, COMPLETE_USER
  </sql>
  <select id="selectByExample" parameterType="com.att.repository.entity.ZSnToolLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Z_SN_TOOL_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Z_SN_TOOL_LOG
    where SID = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Z_SN_TOOL_LOG
    where SID = #{sid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.att.repository.entity.ZSnToolLogExample">
    delete from Z_SN_TOOL_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.att.repository.entity.ZSnToolLog">
    insert into Z_SN_TOOL_LOG (SID, SITE, SFC, 
      OPERATION, RESOURCE, SN, 
      TOOL_NUMBER, STATUS, CREATED_DATE_TIME, 
      CREATED_USER, START_DATE_TIME, START_USER, 
      COMPLETE_DATE_TIME, COMPLETE_USER)
    values (#{sid,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, #{sfc,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{resource,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, 
      #{toolNumber,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createdDateTime,jdbcType=TIMESTAMP}, 
      #{createdUser,jdbcType=VARCHAR}, #{startDateTime,jdbcType=TIMESTAMP}, #{startUser,jdbcType=VARCHAR}, 
      #{completeDateTime,jdbcType=TIMESTAMP}, #{completeUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.att.repository.entity.ZSnToolLog">
    insert into Z_SN_TOOL_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        SID,
      </if>
      <if test="site != null">
        SITE,
      </if>
      <if test="sfc != null">
        SFC,
      </if>
      <if test="operation != null">
        OPERATION,
      </if>
      <if test="resource != null">
        RESOURCE,
      </if>
      <if test="sn != null">
        SN,
      </if>
      <if test="toolNumber != null">
        TOOL_NUMBER,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME,
      </if>
      <if test="createdUser != null">
        CREATED_USER,
      </if>
      <if test="startDateTime != null">
        START_DATE_TIME,
      </if>
      <if test="startUser != null">
        START_USER,
      </if>
      <if test="completeDateTime != null">
        COMPLETE_DATE_TIME,
      </if>
      <if test="completeUser != null">
        COMPLETE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="sfc != null">
        #{sfc,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="toolNumber != null">
        #{toolNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdDateTime != null">
        #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null">
        #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="startDateTime != null">
        #{startDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startUser != null">
        #{startUser,jdbcType=VARCHAR},
      </if>
      <if test="completeDateTime != null">
        #{completeDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeUser != null">
        #{completeUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.att.repository.entity.ZSnToolLogExample" resultType="java.lang.Long">
    select count(*) from Z_SN_TOOL_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Z_SN_TOOL_LOG
    <set>
      <if test="record.sid != null">
        SID = #{record.sid,jdbcType=VARCHAR},
      </if>
      <if test="record.site != null">
        SITE = #{record.site,jdbcType=VARCHAR},
      </if>
      <if test="record.sfc != null">
        SFC = #{record.sfc,jdbcType=VARCHAR},
      </if>
      <if test="record.operation != null">
        OPERATION = #{record.operation,jdbcType=VARCHAR},
      </if>
      <if test="record.resource != null">
        RESOURCE = #{record.resource,jdbcType=VARCHAR},
      </if>
      <if test="record.sn != null">
        SN = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.toolNumber != null">
        TOOL_NUMBER = #{record.toolNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDateTime != null">
        CREATED_DATE_TIME = #{record.createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdUser != null">
        CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      </if>
      <if test="record.startDateTime != null">
        START_DATE_TIME = #{record.startDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.startUser != null">
        START_USER = #{record.startUser,jdbcType=VARCHAR},
      </if>
      <if test="record.completeDateTime != null">
        COMPLETE_DATE_TIME = #{record.completeDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completeUser != null">
        COMPLETE_USER = #{record.completeUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Z_SN_TOOL_LOG
    set SID = #{record.sid,jdbcType=VARCHAR},
      SITE = #{record.site,jdbcType=VARCHAR},
      SFC = #{record.sfc,jdbcType=VARCHAR},
      OPERATION = #{record.operation,jdbcType=VARCHAR},
      RESOURCE = #{record.resource,jdbcType=VARCHAR},
      SN = #{record.sn,jdbcType=VARCHAR},
      TOOL_NUMBER = #{record.toolNumber,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CREATED_DATE_TIME = #{record.createdDateTime,jdbcType=TIMESTAMP},
      CREATED_USER = #{record.createdUser,jdbcType=VARCHAR},
      START_DATE_TIME = #{record.startDateTime,jdbcType=TIMESTAMP},
      START_USER = #{record.startUser,jdbcType=VARCHAR},
      COMPLETE_DATE_TIME = #{record.completeDateTime,jdbcType=TIMESTAMP},
      COMPLETE_USER = #{record.completeUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.att.repository.entity.ZSnToolLog">
    update Z_SN_TOOL_LOG
    <set>
      <if test="site != null">
        SITE = #{site,jdbcType=VARCHAR},
      </if>
      <if test="sfc != null">
        SFC = #{sfc,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        OPERATION = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="resource != null">
        RESOURCE = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        SN = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="toolNumber != null">
        TOOL_NUMBER = #{toolNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUser != null">
        CREATED_USER = #{createdUser,jdbcType=VARCHAR},
      </if>
      <if test="startDateTime != null">
        START_DATE_TIME = #{startDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startUser != null">
        START_USER = #{startUser,jdbcType=VARCHAR},
      </if>
      <if test="completeDateTime != null">
        COMPLETE_DATE_TIME = #{completeDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeUser != null">
        COMPLETE_USER = #{completeUser,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.att.repository.entity.ZSnToolLog">
    update Z_SN_TOOL_LOG
    set SITE = #{site,jdbcType=VARCHAR},
      SFC = #{sfc,jdbcType=VARCHAR},
      OPERATION = #{operation,jdbcType=VARCHAR},
      RESOURCE = #{resource,jdbcType=VARCHAR},
      SN = #{sn,jdbcType=VARCHAR},
      TOOL_NUMBER = #{toolNumber,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      CREATED_USER = #{createdUser,jdbcType=VARCHAR},
      START_DATE_TIME = #{startDateTime,jdbcType=TIMESTAMP},
      START_USER = #{startUser,jdbcType=VARCHAR},
      COMPLETE_DATE_TIME = #{completeDateTime,jdbcType=TIMESTAMP},
      COMPLETE_USER = #{completeUser,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>