<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.att.repository.mapper.ZVwMaterialYieldItemDescMapper">
    <resultMap id="BaseResultMap" type="com.att.repository.entity.ZVwMaterialYieldItemDesc">
        <result column="SITE" jdbcType="VARCHAR" property="site"/>
        <result column="ITEM" jdbcType="VARCHAR" property="item"/>
        <result column="REVISION" jdbcType="VARCHAR" property="revision"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        SITE, ITEM, REVISION, DESCRIPTION
    </sql>
    <select id="selectByExample" parameterType="map" resultMap="BaseResultMap">
        select
        <if test="example.distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from Z_VW_MATERIAL_YIELD_ITEM_DESC( #{locale} )
        <if test="_parameter.example != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="example.orderByClause != null">
            order by ${example.orderByClause}
        </if>
    </select>
    <select id="countByExample" parameterType="com.att.repository.entity.ZVwMaterialYieldItemDescExample"
            resultType="java.lang.Long">
        select count(*) from Z_VW_MATERIAL_YIELD_ITEM_DESC
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
</mapper>