<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.att.repository.mapper.ZVwProductionQtyMapper">
  <resultMap id="BaseResultMap" type="com.att.repository.entity.ZVwProductionQty">
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="DATE" jdbcType="VARCHAR" property="date" />
    <result column="SHOP_ORDER" jdbcType="VARCHAR" property="shopOrder" />
    <result column="ITEM" jdbcType="VARCHAR" property="item" />
    <result column="ITEM_DESC" jdbcType="VARCHAR" property="itemDesc" />
    <result column="STEP_ID" jdbcType="VARCHAR" property="stepId" />
    <result column="OPERATION" jdbcType="VARCHAR" property="operation" />
    <result column="OPERATION_DESC" jdbcType="VARCHAR" property="operationDesc" />
    <result column="IS_REWORK" jdbcType="VARCHAR" property="isRework" />
    <result column="ERP_OPERATION" jdbcType="VARCHAR" property="erpOperation" />
    <result column="QTY_STARTED" jdbcType="DECIMAL" property="qtyStarted" />
    <result column="QTY_COMPLETED" jdbcType="DECIMAL" property="qtyCompleted" />
    <result column="QTY_SCRAPPED" jdbcType="DECIMAL" property="qtyScrapped" />
    <result column="QTY_DONE" jdbcType="DECIMAL" property="qtyDone" />
    <result column="SHOP_ORDER_TYPE" jdbcType="VARCHAR" property="shopOrderType" />
    <result column="ROUTER" jdbcType="VARCHAR" property="router" />
    <result column="ROUTER_REVISION" jdbcType="VARCHAR" property="routerRevision" />
    <result column="ROUTER_DESC" jdbcType="VARCHAR" property="routerDesc" />
    <result column="LABOR_H" jdbcType="DECIMAL" property="laborH" />
    <result column="LABOR_M" jdbcType="DECIMAL" property="laborM" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SITE, DATE, SHOP_ORDER, ITEM, ITEM_DESC, STEP_ID, OPERATION, OPERATION_DESC, IS_REWORK, 
    ERP_OPERATION, QTY_STARTED, QTY_COMPLETED, QTY_SCRAPPED, QTY_DONE, SHOP_ORDER_TYPE, 
    ROUTER, ROUTER_REVISION, ROUTER_DESC, LABOR_H, LABOR_M
  </sql>
  <select id="selectByExample" parameterType="com.att.repository.entity.ZVwProductionQtyExample" resultMap="BaseResultMap">
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Z_VW_PRODUCTION_QTY(#{locale},#{startDate},#{endDate})
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.att.repository.entity.ZVwProductionQtyExample" resultType="java.lang.Long">
    select count(*) from Z_VW_PRODUCTION_QTY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>