<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.att.repository.mapper.ZVwPackCartonMapper">
  <resultMap id="BaseResultMap" type="com.att.repository.entity.ZVwPackCarton">
    <result column="CARTON_SID" jdbcType="VARCHAR" property="cartonSid" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="CARTON_CONTAINER_NAME" jdbcType="VARCHAR" property="cartonContainerName" />
    <result column="CARTON_CONTAINER_NO" jdbcType="VARCHAR" property="cartonContainerNo" />
    <result column="CARTON_CONTAINER_TYPE" jdbcType="VARCHAR" property="cartonContainerType" />
    <result column="CARTON_MFG_DATE" jdbcType="VARCHAR" property="cartonMfgDate" />
    <result column="CARTON_EXP_DATE" jdbcType="VARCHAR" property="cartonExpDate" />
    <result column="CARTON_STATUS" jdbcType="VARCHAR" property="cartonStatus" />
    <result column="CARTON_SFC" jdbcType="VARCHAR" property="cartonSfc" />
    <result column="CARTON_BATCH_NO" jdbcType="VARCHAR" property="cartonBatchNo" />
    <result column="CARTON_SN" jdbcType="VARCHAR" property="cartonSn" />
    <result column="PALLET_SID" jdbcType="VARCHAR" property="palletSid" />
    <result column="PALLET_CONTAINER_NAME" jdbcType="VARCHAR" property="palletContainerName" />
    <result column="PALLET_CONTAINER_NO" jdbcType="VARCHAR" property="palletContainerNo" />
    <result column="PALLET_STATUS" jdbcType="VARCHAR" property="palletStatus" />
    <result column="SFC" jdbcType="VARCHAR" property="sfc" />
    <result column="SHOP_ORDER" jdbcType="VARCHAR" property="shopOrder" />
    <result column="ITEM" jdbcType="VARCHAR" property="item" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CARTON_SID, SITE, CARTON_CONTAINER_NAME, CARTON_CONTAINER_NO, CARTON_CONTAINER_TYPE, 
    CARTON_MFG_DATE, CARTON_EXP_DATE, CARTON_STATUS, CARTON_SFC, CARTON_BATCH_NO, CARTON_SN, 
    PALLET_SID, PALLET_CONTAINER_NAME, PALLET_CONTAINER_NO, PALLET_STATUS, SFC, SHOP_ORDER, 
    ITEM, DESCRIPTION
  </sql>
  <select id="selectByExample" parameterType="com.att.repository.entity.ZVwPackCartonExample" resultMap="BaseResultMap">
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Z_VW_PACK_CARTON( #{locale} )
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.att.repository.entity.ZVwPackCartonExample" resultType="java.lang.Long">
    select count(*) from Z_VW_PACK_CARTON
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>