<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.att.repository.mapper.ZVwPackInspecItemPlanDetailMapper">
    <resultMap id="BaseResultMap" type="com.att.repository.entity.ZVwPackInspecItemPlanDetail">
        <result column="SID" jdbcType="VARCHAR" property="sid"/>
        <result column="SITE" jdbcType="VARCHAR" property="site"/>
        <result column="ITEM" jdbcType="VARCHAR" property="item"/>
        <result column="QC_PLAN_BO" jdbcType="VARCHAR" property="qcPlanBo"/>
        <result column="CREATE_DATE_TIME" jdbcType="TIMESTAMP" property="createDateTime"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="QC_ITEM_SID" jdbcType="VARCHAR" property="qcItemSid"/>
        <result column="QC_ITEM" jdbcType="VARCHAR" property="qcItem"/>
        <result column="QC_ITEM_DESC" jdbcType="VARCHAR" property="qcItemDesc"/>
        <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType"/>
        <result column="RESOURCE_TYPE" jdbcType="VARCHAR" property="resourceType"/>
        <result column="QC_DESCRIPTION" jdbcType="VARCHAR" property="qcDescription"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="UNITS" jdbcType="VARCHAR" property="units"/>
        <result column="CONTROL_MODE" jdbcType="VARCHAR" property="controlMode"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        SID
        , SITE, ITEM, QC_PLAN_BO, CREATE_DATE_TIME, CREATE_USER, QC_ITEM_SID, QC_ITEM, 
    QC_ITEM_DESC, ITEM_TYPE, RESOURCE_TYPE, QC_DESCRIPTION, STATUS, UNITS, CONTROL_MODE, 
    REMARK
    </sql>
    <select id="selectByExample" parameterType="com.att.repository.entity.ZVwPackInspecItemPlanDetailExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from Z_VW_PACK_INSPEC_ITEM_PLAN_DETAIL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="countByExample" parameterType="com.att.repository.entity.ZVwPackInspecItemPlanDetailExample"
            resultType="java.lang.Long">
        select count(*) from Z_VW_PACK_INSPEC_ITEM_PLAN_DETAIL
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
</mapper>