<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.att.repository.mapper.ZVwProductionIntegratedKanban3Mapper">
  <resultMap id="BaseResultMap" type="com.att.repository.entity.ZVwProductionIntegratedKanban3">
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="ITEM" jdbcType="VARCHAR" property="item" />
    <result column="ROUTER" jdbcType="VARCHAR" property="router" />
    <result column="ROUTER_REVISION" jdbcType="VARCHAR" property="routerRevision" />
    <result column="OPERATION" jdbcType="VARCHAR" property="operation" />
    <result column="STEP_ID" jdbcType="VARCHAR" property="stepId" />
    <result column="IN_QTY" jdbcType="DECIMAL" property="inQty" />
    <result column="QTY_COMPLETED" jdbcType="DECIMAL" property="qtyCompleted" />
    <result column="QTY_SCRAPPED" jdbcType="DECIMAL" property="qtyScrapped" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SITE, ITEM, ROUTER, ROUTER_REVISION, OPERATION, STEP_ID, IN_QTY, QTY_COMPLETED, QTY_SCRAPPED
  </sql>
  <select id="selectByExample" parameterType="com.att.repository.entity.ZVwProductionIntegratedKanban3Example" resultMap="BaseResultMap">
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Z_VW_PRODUCTION_INTEGRATED_KANBAN_3(#{startDate},#{endDate})
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.att.repository.entity.ZVwProductionIntegratedKanban3Example" resultType="java.lang.Long">
    select count(*) from Z_VW_PRODUCTION_INTEGRATED_KANBAN_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>